*{
  margin: 0%;
  padding: 0%;
}
header{
  position: fixed;
  background: white;
}
#home {
    background-image: url(../photo/main2.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;background-size: cover;
    height: 100vh;      
  }

#page1{
    display: flex;
    height: 100vh;
    margin:0%;
    padding:0%;
}
#page2{
  display: flex;
  background-color: black;
  height: 100vh;
}
#page3{
  display: flex;
  height: fit-content;
}
#page4{
  display: flex;
  background-color: black;
  color: aliceblue;
  height: fit-content;
  padding: 10%;
}
.page4__img{
  display: flex;
  width:20%;
}
#page5{
  display: flex;
  padding: 5%;
}
@media (max-width: 320px) {
  .web__main {
    font-size: 30px;
    padding-top: 20%;
  }
  #page1{
    font-size: 10px;
  }
  #page2{
    padding: 7%;
  }
  #page3{
    font-size: 20px;
    padding: 10%;
  }
}
@media (min-width: 321px) and (max-width: 480px) {
  .web__main {
    font-size: 35px;
    padding: 15%;
  }
  #page1{
    font-size: 13px;
  }
  #page2{
    padding: 10%;
  }
  #page3{
    font-size: 20px;
    padding: 10%;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .web__main {
    font-size: 50px;
    padding: 10%;
  }
  #page1{
    font-size: 18px;
  }
  #page2{
    padding: 10%;
  }
  #page3{
    font-size: 20px;
    padding: 10%;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .web__main {
    font-size: 60px;
    padding: 7%;
  }
  #page1{
    font-size: 25px;
  }
  #page2{
    padding: 10%;
  }
  #page3{
    font-size: 25px;
    padding: 10%;
  }
}
@media (min-width: 1025px) and (max-width: 1200px) {
  .web__main {
    font-size: 70px;
    padding: 7%;
  }
  #page1{
    font-size: 25px;
  }
  #page2{
    padding: 10%;
  }
  #page3{
    font-size: 30px;
    padding: 10%;
  }
}
@media (min-width: 1201px) {
  .web__main {
    font-size: 70px;
    padding: 7%;
  
  }
  #page1{
    font-size: 30px;
  }
  #page2{
    padding: 10%;
  }
  #page3{
    font-size: 35px;
    padding: 10%;
  }
}












































